body {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}

.pembuka{
    text-align: left;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 20px;
    background: black;
    color: white;
    font-weight: bold;
}

.simbol {
    margin: 20px;
    font-size: 30px;
}

.kartu {
    width: 250px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(223, 217, 217);
    overflow: hidden;
}

.kartu img {
    width: 100%;
    display: block;
}

.text {
    padding: 10px;
    background: white;
}

.text h3 {
    margin: 0;
    font-weight: bold;
}

.text p {
    margin: 5px 0 0;
    font-size: 14px;
}