/* Biar form di tengah */
body {
  margin: 0;
}

.startform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.form {
  width: 400px;         /* biar form ukurannya rapih */
  padding: 20px;
  background: #c5ccd2;
  border-radius: 10px;
  position: relative;    
  padding-bottom: 70px;
}

.form,
.form label,
.form h5 {
  font-weight: bold;
}

.form h5{
    text-align: center;
}

.form button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* untuk navbar */
.logo {
    width: 90px;
    height: auto;
}

.nav-itemnav-item{
    font-weight: bold;
    padding-left: 30px;
}

.nav-MyProject {
    padding-left: 20px;
}

.butt-contactme{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 20px;
    background: black;
    color: white;
    font-weight: bold;
}